@import 'base';
@import 'mixins';

body {
  background-size: cover;
  background-position: center;

  #pre-loader {
    display: none;
  }
}

body.loading {
  overflow: hidden !important;

  #pre-loader {
    display: block;
  }
}

div {
  padding-top: 50% - 50%;
}

video {
  object-fit: cover;
}

#pre-loader {
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  position: absolute;
  background: url('../img/loading.gif') #ffffff center no-repeat;
}

#landing-page-video {
  width: 100%;
  height: 100%;
}

ul#main-menu {
  top: 0;
  left: 0;
  width: 100%;

  margin: 0;
  display: block;
  z-index: 200;
  position: fixed;
  transition: all .2s ease-in;
  background-color: white;

  a {
    color: $primary-color;
    display: block;
    padding: 10px 20px;
  }
  a:hover {
    color: lighten($primary-color,15%);
  }

  li {
    margin: 0;
    display: inline-block;
    list-style: none;
  }

  ul {
    display: none;
  }

  .hidden {
    display: none;
  }

  .on-landing-page {
    top: auto;
    bottom: 0;
    position: absolute;
    background-color: transparent;
  }
}


.example-grid .column,
.example-grid .columns {
  background: #EEE;
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  margin-bottom: .75rem;
  font-weight: 600;
  letter-spacing: .1rem;
}
