<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <!-- ...then load our CSS file that can overwrite any of the styles. -->
  </head>
  <body>
    <div id="app">
      <link rel="stylesheet" v-bind:href="current_template.value">

      <main role="main" v-bind:class="current_template.name">
        <h1>{{ title }}</h1>
        <img class="logo" v-bind:src="current_template.logo"/>

        <template v-for="template in templates">
          <button v-on:click="setTemplate(template.id)">
            {{ template.name }}
            <span v-if="template.id == default_template">(Default)</span>
          </button>
        </template>

        <table style="width:100%">
          <tr>
            <template v-for="value in tableHeader(users)">
              <th>{{ value }}</th>
            </template>
          </tr>

          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
          </tr>

        </table>
      </main>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-meta@1.2.0/lib/vue-meta.js"></script>
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src='js/application.js'></script>
  </body>
</html>
